
.img-container {
  position: relative;
  text-align: center;
}

.top-left {
	  position: absolute;
	  top: 15%;
	  left: 16px;
	  max-width: 50%
}
	
.text-on-ai{
  width: 100%;
  margin-left: 0px;
  text-align: left;
}


@media (max-width: 414px) {
	.top-left {
		    position: initial;
		    max-width: 100%;
	}
}

  