.image-effects{
	background-image: URL('images/blue-ai.png');
    background-repeat: no-repeat;
    background-color: #f1f7fa;
}
.img-container {
  position: relative;
  text-align: center;
}

.top-left {
	  position: absolute;
	  top: 15%;
	  left: 16px;
	  max-width: 50%
}
	
.text-on-ai{
  width: 100%;
  margin-left: 0px;
  text-align: left;
}

.col-md-offset-mt-10{
	margin-top:10%;
}

.col-md-offset-mt-7{
	margin-top:7%;
}

@media (max-width: 767px) {
	.top-left {
			top:0%;
		    position: initial;
		    max-width: 100%;
	}
}

@media (max-width: 415px) {
	.top-left {
		    position: initial;
		    max-width: 100%;
	}
	
	.col-md-offset-mt-10{
		margin-top:0px;
	}
	
	.col-md-offset-mt-7{
		margin-top:0%;
	}
	
}




  